<div id="overlay" class="overlay"></div>

<dialog open>
  <h2 class="dialog-title">Add Genre</h2>
  <form class="dialog-form" method="POST" action="/genres/new">
    <div class="dialog-input-wrapper">
      <% const genreError = errors?.find(e => e.path === 'genre');%>
      <input
        type="text"
        id="genre"
        name="genre"
        placeholder="Genre"
        class="<%= genreError ? 'input-error' : '' %>"
        value="<%= formData.genre ? formData.genre : '' %>"
      />
      <% if (genreError) { %>
      <p class="error-msg"><%= genreError.msg %></p>
      <% } %>
    </div>

    <div class="button-wrapper">
      <button type="submit">Add Genre</button>
      <a href="/genres">
        <button type="button">Cancel</button>
      </a>
    </div>
  </form>
</dialog>
