<div class="genres-page">
  <h1 class="genres-page-title">Genres Page</h1>
  <div class="genres-container">
    <% genres.map(genre => {%>
    <p class="genre"><%= genre.name %></p>
    <% }) %>
  </div>
</div>
