<div class="genres-page">
  <% if (locals.showAddGenreDialog) { %> <%- include ('partials/genresModal') %>
  <% } %>
  <div class="genres-header">
    <h1 class="genres-page-title">Genres Page</h1>
    <a href="/genres/new"
      ><button class="add-entry-button">Add Genre</button></a
    >
  </div>
  <div class="genres-container">
    <% genres.map(genre => {%>
    <div class="genre-wrapper">
      <a href="/books?genres=<%= genre.name %>" class="genre"
        ><%= genre.name %></a
      >
      <a href="/genres/<%= genre.id %>/edit"
        ><i class="fas fa-edit edit-genres-icon fa-xl"></i
      ></a>
    </div>
    <% }) %>
  </div>
</div>
