<div class="genres-page">
  <h1 class="genres-page-title">Genres Page</h1>
  <div class="genres-container">
    <% genres.map(genre => {%>
    <a href="/books?genres=<%= genre.name %>" class="genre"
      ><%= genre.name %></a
    >
    <% }) %>
  </div>
</div>
