<div class="homepage">
  <h1>Home Page</h1>
  <p>
    Welcome to OdinBook! Where all of your inventory needs regarding books are
    met. This is where you can quickly organise the books you are reading my
    genres so that you can meet your reading goals!
  </p>
  <a href="/books">View Books <i class="fa-solid fa-arrow-right"></i></a>
  <a href="/genres">View Genres <i class="fa-solid fa-arrow-right"></i></a>
</div>
