:root {
  --font-family: 'Poppins', sans-serif;
  --light-khaki: #e9e5cd;
  --beige: #f4f1ea;
  --brown: #382110;
  --black: #333333;
  --white: #ffffff;
  --green: #9fff9c;
  --red: #ff9c9c;
  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  --content-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  height: 100vh;
  background-color: var(--beige);
  color: var(--black);
}

button {
  cursor: pointer;
}

header.navigation {
  background-color: var(--light-khaki);
  color: var(--brown);
  padding: 1.25rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--header-box-shadow);
}

header.navigation .navigation-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header.navigation .navigation-links:first-of-type {
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: 1rem;
}

header.navigation .navigation-links {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: inherit;
}

header.navigation .navigation-links:first-of-type:hover {
  text-decoration: none;
}

header.navigation .navigation-links:hover {
  text-decoration: underline;
  font-weight: 800;
}

header.navigation .search-input {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid var(--brown);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30rem;
}

header.navigation .search-input:focus {
  outline: none;
  border: 3px solid var(--brown);
}

header.navigation .search-button {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  border: 3px solid var(--brown);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

header.navigation .search-button:hover {
  background-color: var(--brown);
  color: var(--light-khaki);
}

main .add-entry-button {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

main .homepage {
  padding: 1.5rem 3.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

main .homepage p {
  font-size: 1.15rem;
}

main .homepage a {
  text-decoration: none;
  border: 1px solid var(--black);
  width: 82%;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  color: inherit;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: var(--content-box-shadow);
}

main .homepage a i {
  margin-left: 0.25rem;
  transition: transform 0.5s ease;
}

main .homepage a:hover {
  font-weight: 800;
  font-size: 1.2rem;
  border: 2px solid var(--black);
}

main .homepage a:hover i {
  transform: translateX(1rem);
}

main .books-page .books-header {
  margin-left: 6.5rem;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

main .books-page .search-results {
  font-size: 1.25rem;
}

main .books-page .books-main-container {
  display: flex;
  margin: 1.5rem 6.5rem;
  margin-right: 6rem;
  border: 1px solid #d3d3d3;
  box-shadow: var(--content-box-shadow);
  border-radius: 1rem;
}

main .books-page .filters-container {
  background-color: var(--light-khaki);
  padding: 1rem 2rem;
  border-top-left-radius: 1rem;
  border-right: 1.5px solid #d3d3d3;
}

main .books-page .filter-form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .books-page input[type='checkbox'] {
  accent-color: var(--black);
}

main .books-page .filter-form label {
  font-weight: 500;
}

main .books-page .filter-form button {
  background-color: var(--black);
  color: white;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

main .books-page .books-container {
  display: grid;
  grid-template-columns: repeat(5, 22.5rem);
  gap: 4rem;
  padding: 1rem 2rem;
  align-items: center;
}

main .books-page .book-container {
  background-color: var(--white);
  box-shadow: var(--content-box-shadow);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .books-page .book-container:hover {
  cursor: pointer;
}

main .books-page .book-title-author {
  padding: 1rem 1.25rem;
}

main .books-page .book-title {
  font-size: 1.35rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

main .books-page .book-author,
main .books-page .book-genre {
  font-size: 1.1rem;
}

main .books-page .book-container .action-button-container {
  opacity: 0;
  transition: opacity 0.2s ease;
  display: flex;
  gap: 1rem;
  padding: 0.25rem;
}

main .books-page .book-container:hover .action-button-container {
  opacity: 1;
}

main .books-page .action-icon {
  color: var(--black);
  width: 2rem;
}

main .books-page .book-genre {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
}

main .genres-page .genres-header {
  margin-left: 6.5rem;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

main .genres-page .genres-container {
  margin: 1.5rem 6.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
}

main .genres-page .genre-wrapper {
  background-color: var(--black);
  color: var(--white);
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .genres-page .genre {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

main .genres-page .edit-genres-icon {
  color: var(--white);
  opacity: 0;
  transition: opacity 0.2s ease;
}

main .genre-wrapper:hover .edit-genres-icon {
  opacity: 1;
}

main .genres-page .genre:hover {
  text-decoration: underline;
}

main .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

main dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;

  width: 25vw;
  background-color: var(--white);
  color: inherit;
  box-shadow: var(--content-box-shadow);
  border: 1px solid #d3d3d3;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 1.25rem;
}

main dialog .dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

main .dialog-title {
  text-align: center;
}

main dialog input,
main dialog select {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: inherit;
  border: 1.5px solid var(--black);
  border-radius: 0.5rem;
  width: 100%;
  font-weight: 600;
}

main dialog .input-error {
  border: 1.5px solid var(--red);
}

main dialog .error-msg {
  color: var(--red);
  margin-top: 0.1rem;
}

main dialog input:focus,
main dialog select:focus {
  outline: none;
  border: 2px solid var(--black);
}

main dialog .input-error:focus {
  border: 2px solid var(--red);
}

main dialog .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

main dialog .button-wrapper button {
  font-family: inherit;
  font-size: 1.25rem;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
